spring:
  application:
    name: gallery
  profiles:
    active: development

# common configuration
  mvc:
    static-path-pattern: /assets/**
  web:
    resources:
      static-locations: classpath:/assets/
  thymeleaf:
    check-template-location: true
    mode: HTML
    prefix : classpath:templates/
    suffix : .html
    encoding: UTF-8

server:
  servlet:
    context-path: /

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"


---
# development configuration
spring:
  config:
    activate:
      on-profile: development

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  thymeleaf:
    cache: false

server:
  port: 8080

logging:
  level:
    root: INFO

---
# production configuration
spring:
  config:
    activate:
      on-profile: production

  thymeleaf:
    cache: true

server:
  port: 80

logging:
  level:
    root: WARN

